body {
  text-align: center;
  background-color: #DDD;
}

#dialpad button {
  width: 52px;
  height: 36px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #DDDDFF;
}

@media screen and (min-width: 768px) {
  #results {
    width: 50vw;
    margin: auto;
  }
}

.hidden {
  display: none;
}
